<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/"><span class="dj-navbar-icon pull-right glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget">Widget List</a>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"><span class="dj-navbar-icon pull-right glyphicon glyphicon-plus"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" id="sortme">
    <div ng-show="!model.widgets.length" class="alert alert-success">There are no widgets on this page yet, click the plus to get going!</div>

    <widget-list></widget-list>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>