<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget"><span class="dj-navbar-icon pull-right glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
            <a class="navbar-brand" href="#!/widget-choose">Choose Widget</a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="model.errorMessage" class="alert alert-warning"> <strong>{{model.errorMessage}}</strong> </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('HEADING')">Heading</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('HTML')">HTML</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('IMAGE')">Image</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <a ng-click="model.createWidget('TEXT')">TEXT</a>
                </div>
            </div>
        </li>

    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>