<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#!/page-list"><span class="dj-navbar-icon pull-right glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
            <a class="navbar-brand" href="#!/widget-list">Widget List</a>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#!/widget-choose"><span class="dj-navbar-icon pull-right glyphicon glyphicon-plus"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10"> Heading Widget </div>
                <div class="col-xs-2">
                    <a href="#!/widget-heading"><span class="pull-right glyphicon glyphicon-cog"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body"><h2> I AM A HEADING </h2></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10"> Image Widget </div>
                <div class="col-xs-2">
                    <a href="#!/widget-image"><span class="pull-right glyphicon glyphicon-cog"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <img src="http://i.imgur.com/4AiXzf8.jpg" class="img-responsive" alt="Responsive image">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10"> YouTube Widget </div>
                <div class="col-xs-2">
                    <a href="#!/widget-youtube"><span class="pull-right glyphicon glyphicon-cog"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9bZkp7q19f0"></iframe>
            </div>
        </div>
    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#!/user">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>