<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#!/user/{{model.userId}}/website"><span class="dj-navbar-icon pull-right glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/new">New Website</a>
            <ul class="nav navbar-nav pull-right">
                <li><a ng-click="model.createWebsite(model.website)"><span class="dj-navbar-icon pull-right glyphicon glyphicon-ok"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="model.errorMessage" class="alert alert-danger"> <strong>{{model.errorMessage}}</strong> </div>

    <div class="row">
        <div class="col-sm-3 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item dj-active">
                    <div class="row">
                        <div class="col-xs-8">
                            <u>Websites</u>
                        </div>
                        <div class="col-xs-4">
                            <a href="#!/user/{{model.userId}}/website/new"><span class="pull-right avx glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}"><span class="pull-right glyphicon glyphicon-cog"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 pull-right">
            <div class="form-group">
                <label for="website-name">Name:</label>
                <input ng-model="model.website.name"
                       type="text"
                       class="form-control"
                       id="website-name"
                       name="website-name"
                       placeholder="Name (Fakebook)">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea ng-model="model.website.description"
                          class="form-control"
                          rows="5"
                          id="description"
                          name="description">
                </textarea>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>