<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#!/page-list"><span class="dj-navbar-icon pull-right glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
            <a class="navbar-brand" href="website-new.html.html">Edit Page</a>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#!/page-list"><span class="dj-navbar-icon pull-right glyphicon glyphicon-ok"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="page-name">Name:</label>
                <input type="text" class="form-control" id="page-name" name="page-name" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label for="page-title">Title:</label>
                <input type="text" class="form-control" id="page-title" name="page-title" placeholder="page-title">
            </div>
            <a href="#!/page-list" class="btn btn-danger btn-outline btn-block dj-btn">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#!/user">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>




