<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav pull-left">
                <li><a href="#!/user/{{model.userId}}/website/{{model.wid}}/page"><span class="dj-navbar-icon pull-right glyphicon glyphicon-arrow-left"></span></a></li>
            </ul>
            <a class="navbar-brand" href="website-new.html.html">Edit Page</a>
            <ul class="nav navbar-nav pull-right">
                <li><a ng-click="model.updatePage(model.page)"><span class="dj-navbar-icon pull-right glyphicon glyphicon-ok"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="model.success" class="alert alert-success"> <strong>{{model.success}}</strong> </div>
    <div ng-show="model.delete" class="alert alert-warning"> <strong>{{model.delete}}</strong> </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="page-name">Name:</label>
                <input ng-model="model.page.name"
                       type="text"
                       class="form-control"
                       id="page-name"
                       name="page-name">
            </div>
            <div class="form-group">
                <label for="page-description">Description:</label>
                <input ng-model="model.page.description"
                       type="text"
                       class="form-control"
                       id="page-description"
                       name="page-description">
            </div>
            <a ng-click="model.deletePage(model.page)" class="btn btn-danger btn-outline btn-block dj-btn">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand pull-right" href="#!/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>




